@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@*<div>
    Message from Home/Index : @ViewBag.Message<br />
    Name : @ViewData["Name"]<br />
    City : @TempData["City"]<br />
    Profession : @Session["Profession"]
</div>*@